/* Blog Post CSS File */
/*The following three media queries are for responsive layout of
individual blog post pages featuring blog content and social
media links. */
  @media screen and (max-width: 600px) {
          .blog-grid {
            display: grid;
            width: 100vw;
            height: 250vh;
            grid-template-columns: 100vw;
            grid-template-rows: repeat(100px, 9);
            grid-gap: 12px;
            grid-template-areas:
            "header"
            "post-photo"
            "post-content"
            "sidebar"
            "footer";
            font-size: 24px;
    /* Diagnostic border color below will indicate new design at breakpoint */
            border: 2px solid green;
        }
      }


      /* If Screen Is Wide Enough */
  @media screen and (min-width: 600px) and (max-width: 1000px) {
      .blog-grid {
            display: grid;
            width: 100vw;
            height: 200vw;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(200px, 7);
            grid-gap: 35px;
            grid-template-areas:
            "header"
            "post-photo"
            "post-content"
            "sidebar"
            "footer";
            font-size: 24px;
    /* Diagnostic border color below will indicate new design at breakpoint */
            border: 2px solid red;
        }
      }


   @media screen and (min-width: 1000px) and (max-width: 1400px) {
        .blog-grid {
          display: grid;
          width: 94vw;
          height: min-content;
          grid-template-columns: auto;
          grid-auto-rows: auto;
          grid-gap: 2%;
          padding: 2%;
          grid-template-areas:
          "header"
          "post-photo"
          "sidebar"
          "post-content"
          "footer";
          font-size: 18px;
    /* Diagnostic border color below will indicate new design at breakpoint */
              border: 2px solid blue;
          }
        }


    @media screen and (min-width: 1400px) {
         .blog-grid {
           display: grid;
           width: 94vw;
           height: 50vw;
           grid-template-columns: 1fr 1fr 1fr 1fr;
           grid-template-rows: 1fr 3fr 1fr 0.25fr;
           grid-gap: 2%;
           padding: 2%;
           grid-template-areas:
           ". header header header"
           "sidebar post-photo post-photo post-photo"
           ". post-content post-content post-content"
           "footer footer footer footer";
           font-size: 18px;
     /* Diagnostic border color below will indicate new design at breakpoint */
               border: 2px solid orange;
           }
         }
